:root {
    --cor-principal: #4b2e2e;
    --cor-secundaria: #fff;
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.1);
    --largura-maxima-item: 30%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    height: 100vh;
}

header {
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 10px 0;
    text-align: center;
    height: 10vh;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

main {
    padding: 20px;
}

h3 {
    color: var(--cor-principal);
    align-items: center;
    display: block;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: var(--cor-secundaria);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(var(--largura-maxima-item) - 20px);
    box-shadow: 0 2px 5px var(--cor-sombra);
    text-align: center;
}

.item img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

form {
    background: var(--cor-secundaria);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--cor-sombra);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background: var(--cor-principal);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 10vh;
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    width: 100%;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

.comidas {
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
}

.cafe-preto {
    border-radius: 15px;
    width: 250px;
    height: 250px;
    display: flex;
}

.footer-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 25vh;
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--cor-principal);
}

@media (max-width: 768px) {
    .item {
        width: calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 20px);
    }

    header {
        height: auto;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

.img-cafe {
    height: 550px;
    width: 550px;
}

.container-main{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-text{
    width: 42%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.container-img{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
}

.section-title {
    margin-top: 25px;
    color: var(--dark);
    font-family: Montserrat;
    font-size: 61px;
    font-weight: 500;
    align-self: stretch;
}

.section-text {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
}

.button {
    padding: 20px 35px;
    align-items: flex-start;
    border-radius: 14px;
    background: gray;
    color: black;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.button:hover {
    background-color: black;
    /* Cor de fundo do botão ao passar o mouse */
    color: #fff;
    /* Cor do texto do botão ao passar o mouse */
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gmap_canvas {
    border-radius: 20px;
    border-color: #4b2e2e;
}

.container-information {
    display: flex;
    justify-content: center;
}
